
body {
  background: #5d5e61;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  position: fixed;
  width: 25%;
  height: 100%;
  background: #443a0b;
}

.wrapper .sidebar h2 {
  padding: 20px;
  background: rgb(59, 75, 92);
  color: #e5f506;
  border-bottom: 1px solid #e0e4e8;
  font-size: 25px;
  margin: 5px;
}

.wrapper .sidebar ul li {
  list-style-type: none;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(225, 225, 225, 0.05);
}

.wrapper .sidebar ul li a {
  color: #bdb8d7;
  display: block;
  text-decoration: none;
}

.wrapper .sidebar ul li:hover {
  background: #e9a33a;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .main-content {
  width: 100%;
  margin-left: 350px;
}

.item {
  padding: 20px;
  background: rgb(59, 75, 92);
  color: #e5f506;
  border-bottom: 1px solid #e0e4e8;
  font-size: 25px;
}

.wrapper .main-content .info {
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main-content .info div {
  margin: 20px;
}

.horizontalUnit{
    display: inline-block;
    /* float: left; */
}

.form-layout{
  width: 90%;
  padding-top: 20px;
  background: #1de9b6;
}

.save{
  margin-top: 20px;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  background: #FFD814;
  border: 1px solid #FCD200;
  font-size: 13px;
  height: 31px;
  padding: 0 11px;
  text-align: center;
  width: 100%;
  min-width: 200px;
  font-weight: 500;
  color: #0F1111;
  :hover{
      background: #F7CA00;
      border-color: #F2C200;
      box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  }

}